#header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
}

#logo>img{
    height: 100px;
}

ul{
    display: flex;
}

ul>li{
    margin: 30px;
    font-size: 24px;
    list-style: none;
}

.cardLogo{
    width: 100%;
    height: 140px;
}

.resCard{
    width: 220px;
    padding: 2px 5px;
    background-color: #f0f0f0;
    margin: 10px;
}
.resCard:hover{
    border: 1px solid black;
    box-shadow:5px 5px gray;
}

.restaurantContainer{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    margin: 10px;
}

.shimmer{
    display: flex;
    flex-wrap: wrap;
}
.shimmerCard{
    width: 220px;
    padding: 2px 5px;
    background-color: #f0f0f0;
    margin: 10px;
    height: 200px;
}